{{define "about"}}

{{template "header" .}}

<div class="container">

    <p>
        Colorado Activist feed aggregates social media posts of organizations and individuals that are working
        for progressive goals.
    </p>

    <p>
        If you have questions, issues, would like to be removed, or would like to be added to the feed, contact
        us by opening a <a href="https://github.com/ColoradoActivistFeed/ColoradoActivistFeed/issues">github issue here</a>.
    </p>

</div><!-- /.container -->

{{template "footer" .}}

{{end}}